*{
    box-sizing: border-box;
    position: relative;
    min-width: 0;
}
body{
    min-height: 100vh;
}
h1,h2,h3,h4{
    text-wrap: balance;
}
p{
    text-wrap: pretty;
}
section, div{
    border: 1px solid #000;
    min-height: 50px;
}
div>div{
    border: 1px solid #f00;
}

section > div:first-child {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Contenedor del grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 10px; /* Espacio entre los elementos */
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}