*{
    box-sizing: border-box;
    position: relative;
    min-width: 0;
}
body{
    min-height: 100vh;
}
h1,h2,h3,h4{
    text-wrap: balance;
}
p{
    text-wrap: pretty;
}
section, div{
    border: 1px solid #000;
    min-height: 50px;
}
div>div{
    border: 1px solid #f00;
}