.bento-box{
    grid-area: bento;
    display: grid;
    margin: 0 auto;
    max-width: 1000px;
    grid-template-areas: 
    ". title-project-box ."
    "desc-project-box desc-project-box desc-project-box"
    "bento-1 bento-2 bento-3"
    "bento-1 bento-2 bento-3"
    "bento-4 bento-2 bento-3"
    "bento-4 bento-5 bento-3"
    "bento-4 bento-5 bento-6"
    "bento-4 bento-5 bento-6";
    gap: 30px;
}
.desc-txt{
    display: flex;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.6rem;
    color: #5C5C5C;
}
.subtitle-2{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 100;
    margin: 0 auto 40px;
}
.title-project-box{
    grid-area: title-project-box;
    display: flex;
    justify-content: center;
}
.desc-project-box{
    grid-area: desc-project-box;
    display: flex;
    justify-content: center;
    text-align: center;
}
.box-1 {
    grid-area: bento-1; 
  }
  
.box-2 {
    grid-area: bento-2;
}
  
.box-3 {
    grid-area: bento-3;
}
  
.box-4 {
    grid-area: bento-4;
}
  
.box-5 {
    grid-area: bento-5; 
}
  
.box-6 {
    grid-area: bento-6;
}
.index-desc{
    grid-area: index-desc;
 }
.index-img{
    grid-area: index-img;
    position: relative;
}
.btn-adapt{
    font-style: italic;
    font-size: xx-large;
    background-color: black;
    position: absolute;
    right: -56px;
    bottom: -2.5rem;
    color: #F5BB3C;
    border-radius: 50rem;
    padding: 15px 25px;

}

.profile-img-detail{
    position: absolute;
    left: -52px;
    top: -45px;
}
.pro-desc{
    display: grid;
    max-width: 1000px;
    margin: 100px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "index-desc index-desc index-img";
}
.pro-works-title{
    grid-area: pro-works-title;
    display: flex;
    justify-content: center;
}
.pro-works-container{
    grid-area: pro-works-container;
}
.pro-works{
    display: grid;
    max-width: 1000px;
    margin: 100px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    ". pro-works-title ."
    ". pro-works-container ."
    ". bento ."
    ". btn-projects .";
}
.btn-projects{
    grid-area: btn-projects;
    display: flex;
    justify-content: center;
}